@import "tailwindcss";

.dashboard-layout {
  @apply min-h-screen;

  background: #cdd7e3;

  width: 100%;
  overflow-x: hidden;
}

/* DESKTOP */

.dashboard-content {
  @apply min-h-screen;

  width: 100%;
  padding-top: 76px;
  box-sizing: border-box;
}

/* MOBILE */

@media (max-width: 768px) {
  .dashboard-content {
    @apply min-h-screen pb-28;

    width: 100%;
    max-width: 100%;
    padding-top: 0;
  }
}

/* CELULARES CHICOS */

@media (max-width: 480px) {
  .dashboard-content {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 90px;
  }
}

/* CELULARES MUY CHICOS */

@media (max-width: 360px) {
  .dashboard-content {
    padding-bottom: 85px;
  }
}